@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body, html {
  padding: 0;
  margin: 0;
}

#homepage {
  display: flex;
  flex-direction: column;
}

#navbar {
  background: lightblue;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1vw 2vw;
}

#img-logo {
  width: 5vw;
}

#nav-links a {
  color: teal;
  font-size: 1.5vw;
  font-weight: bold;
  text-decoration: none;
  padding: 0 2vw;
}

h1 {
  margin: 0 2vw;
}

.home-header {
  width: 80vw;
  padding: 2vw;
  margin: 1vw auto;
}

.home-row {
  width: 80vw;
  padding: 2vw;
  margin: 1vw auto;
  display: flex;
}

.img-vacation {
  width: 30vw;
}

#home-paragraph {
  width: 40vw;
  margin: auto;
}

button {
  color: black;
  font: inherit;
  font-size: 2vw;
  font-weight: bold;
  font-style: italic;
  background: linear-gradient(45deg, rgba(0,255,50,0.7), rgba(0,255,0,0) 80%), linear-gradient(225deg, rgba(0,50,255,0.7), rgba(0,0,255,0) 80%);
  border: none;
  border-radius: 2vw;
  padding: 1vw 2vw;
  margin: 2vw 3vw;
}

#buttons-row-1 {
  display: flex;
  justify-content: flex-end;
}

.buttons-row {
  display: flex;
  justify-content: space-between;
}

.multiple-choice div {
  display: flex;
}

