@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body, html {
  padding: 0;
  margin: 0;
  background: rgba(40, 40, 40, 1);
  color: white;
}

.margin {
  width: 95vw;
  margin: 3vw auto 1vw;
}

#homepage {
  display: flex;
  flex-direction: column;
}

#navbar {
  background: rgba(12, 12, 12, 1);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1vw 2vw;
  box-shadow: 0 0.3vw 0.3vw rgba(12, 12, 12, 0.3);
}

#img-logo {
  width: 8vw;
}

#nav-links a {
  color: rgba(30, 215, 96, 0.8);
  font-size: 1.5vw;
  font-weight: bold;
  text-decoration: none;
  padding: 0 2vw;
}

#nav-links a:hover {
  color: white;
}

h1, h2, h3 {
  margin: 2vw auto;
  text-align: center;
}

p {
  font-size: 1.5vw;
  line-height: 2vw;
  margin: 2vw auto;
}

.home-header {
  width: 80vw;
  margin: auto;
}

.home-header p {
  margin: 2vw auto;
  width: 70vw;
  text-align: center;
}

.home-row {
  width: 80vw;
  margin: auto;
  display: flex;
  justify-content: flex-start;
}

.img-prototype {
  width: 25vw;
  margin: 2vw auto;
}

#home-paragraph {
  width: 40vw;
  margin: 2vw auto;
}

button {
  color: black;
  font: inherit;
  font-size: 1.5vw;
  font-weight: bold;
  font-style: italic;
  background: rgba(30, 215, 96, 0.8);
  border: none;
  border-radius: 2vw;
  padding: 1vw 2vw;
  margin: 1vw;
}

button:hover {
  background: linear-gradient(45deg, rgba(30, 215, 96, 0.8) 30%, rgba(30, 215, 96, 1) 100%);
  color: white;
}

.buttons-panel {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.buttons-row {
  width: 80vw;
  margin: 1vw auto;
  display: flex;
  justify-content: center;
}

.playlist-panel {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.music-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 25vw;
  padding: 1vw;
  margin: 1vw;
}

.music-tile h3 {
  text-align: center;
  width: 20vw;
  margin: 2vw 0;
}

.music-tile img {
  width: 20vw;
}

.music-tile audio {
  width: 20vw;
}
